{% extends 'layout.html' %}
{% block content %}
	<h1>Circle calculator</h1>
    <form method="post">
        <input type="text" name="radius" placeholder="Enter radius" required="required" />

        <label for="operation">Operation</label>
        <select id="operation" name="operation">
            <option value="perimeter">Perimeter</option>
            <option value="area">Area</option>
        </select>

        <button type="submit">Calculate</button>
    </form>

   <br>

   {{ printed_result }}

{% endblock %}